  <nav class="navbar navbar-expand-lg navbar-light nav-color p-3">
    <a class="navbar-brand" href="#">
    <img src="/assets/Ceedi.png" height="50" alt="">
  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
<div class="signup-form">
    <form>
    <div>
		<h2>Sign In</h2>
    <div class="form-group">
      <input type="email" class="form-control" name="email" placeholder="Email" required="required" #userName required>
    </div>
		<div class="form-group">
      <input type="password" class="form-control" name="password" placeholder="Password" required="required" #userPassword required>
    </div>
    <div class="forgotPassword">
      <span routerLink="/forgot-password">Forgot Password?</span>
    </div>  
		<div class="form-group">
      <button type="button" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)" class="btn btn-lg btn-block">Sign In</button>
    </div>
    </div>
    </form>
	<div class="text-center">Don't have an account? <a routerLink="/register-user">Sign up</a></div>
</div>
