<!--<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active">
              <i class="fas fa-user"></i>User Profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="authService.SignOut()">
              <i class="fas fa-sign-out-alt"></i>Log out
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <p>{{user.email}}</p>
{{token}}
<button (click)="authService.idtoken()">id</button>
<button (click)="authService.getUserType('reshmaavvaru@gmail.com')">type</button>
  </div>
</div>-->
<div class="">
  <nav class="navbar navbar-expand-lg navbar-light bg-light p-2">
    <a class="navbar-brand" href="#">Ceedi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="">Product</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" (click)="getAllProducts()">All Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Riders</a>
        </li>
      </ul>
    </div>
  </nav>
<div class="container">
  <div class="signup-form">
      <form>
      <div>
      <h2>New Item</h2>
      <div class="form-group">
        <input type="file" class="form-control" name="image" required="required" #image required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="title" placeholder="Product name" required="required" #title required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="description" placeholder="Description" required="required" #desc required>
      </div>
      <div class="form-group">
        <input type="number" class="form-control" name="price" placeholder="price" required="required" #price required>
      </div>
      <div class="form-group">
        <input type="number" class="form-control" name="quantity" placeholder="quantity" required="required" #quantity required>
      </div>
      <div class="form-group">
        <button type="button" (click)="this.authService.addnewproduct(image.value,title.value,desc.value,price.value,quantity.value)"  class="btn btn-success btn-lg btn-block">Add</button>
      </div>
      </div>
      </form>
  </div>
  <button (click)="getAllProducts()">products</button>
  <table class="table bg-light ">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of products">
        <th scope="row"><img class="img-thumbnail rounded avatar" src="{{p.image}}"></th>
        <td>{{p.title}}</td>
        <td>{{p.price}}</td>
        <td>{{p.quantity}}</td>
        <td><button  id="{{p.title}}" (click)="setdata($event)">Edit</button></td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


</div>