<div class="container">
<div class="signup-form">
    <form>
		<h2>Register</h2>
		<p class="hint-text">Create your account</p>
        <div class="form-group">
        	<input type="email" class="form-control" name="email" placeholder="Email" required="required" #userEmail required>
        </div>
		<div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" required="required" #userPwd  required>
        </div>
      
		<div class="form-group">
            <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required="required">
        </div>     
		<div class="form-group">
            <button type="button" (click)="authService.SignUp(userEmail.value, userPwd.value,'CLIENT')" class="btn btn-success btn-lg btn-block">Sign Up</button>
        </div>
    </form>
	<div class="text-center">Already have an account? <a routerLink="/sign-in">Sign in</a></div>
</div>
</div>
