table{
    margin-top:20px;
}

.logo{
	height: 50px;
}
h1 {
	color: #FF7F3F;
    left: 0;
    line-height: 200px;
    margin-top: -100px;
	font-size: 80px !important;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}
.nav-color{
	background-color: #FF7F3F !important;
	color: #fff !important;
}
.nav-item{
	color: #fff !important;
}
.nav-link {
	font-size: 22px;
	color: #fff !important;
}
.navbar-brand{
	font-size: 30px;
	font-style: bold;
	color: #fff !important;
}
.btn{
	background-color: #FF7F3F;
	color: #fff;
}
i{
	font-size: 20px;
}